<!DOCTYPE html>
<html>
    <head>
        <title>Bob's Blob Blog</title>
        <style type="text/css">
            .error {
                color: blue;
            }
        </style>
    </head>
    
    <body>
        <h1><a href="/">Bob's Blob Blog</a></h1>
        <hr>
        <p>
            <a href="/login">Existing User Login</a>
           
            <a href="./logout" style= "padding-left: 16cm">Logout</a>
        </p>
    <hr>

 

        {% block content %}

        {% endblock %}

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <p class = "error">{{message}}</p>
            {% endfor %}
            </ul>
        {% endwith %}

    </body>
</html>
