{% extends "base.html" %}

{% block content %}


   

    <ul style="list-style-type:none">
        {% for blog in blogs %}
            <li>
            <p>
                <a href="/blog_display?id={{blog.id}}">
                    <h2>{{blog.title}}</h2>
                </a>
                
                Author: 
                <a href="/singleuser?id={{blog.user_id}}">
                    <i>{{blog.user.username}}</i>
                </a>
            </p>
                    <p>{{blog.body}}</p>
                
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
