{% extends "base.html" %}

{% block content %}
    <a href="/newpost">Add a New Blog Entry</a>
    <form action="/newpost" method="post">

   

    <ul style="list-style-type:none">
        {% for blog in blogs %}
            <li>
                <a href="/blog_display?id={{blog.id}}">
                    <h2>{{blog.title}}</h2>
                </a>
                <a href="/singleuser?id={{blog.user.id}}">{{blog.user.username}}</a>
                    <p>{{blog.body}}</p>
                
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
