{% extends "base.html" %}

{% block content %}



    <h3>Posts by <u style="color:green">{{user.username}}</u></h3>

    

    <ul style="list-style-type:none">
        {% for blog in blogs %}
            <li>
                <p>
                    <a href="/blog_display?id={{blog.id}}">
                        <h2>{{blog.title}}</h2>
                    </a>
                   
                </p>
                        <p>{{blog.body}}</p>
                    
            </li>
        {% endfor %}
    </ul>
   


{% endblock %}